.header
  = image_tag("header_logo.png", alt: "Smart-Coach")

.main
  %h1 Smart-Coachとは？
  %hr
  %h2 Smart-Coachではあなた専属のコーチをスマホ上で探せます。
  = image_tag("baseball.png", alt: "baseball", class: "icons")
  = image_tag("soccer.png", alt: "soccer", class: "icons")
  = image_tag("tennis.png", alt: "tennis", class: "icons")
  = image_tag("basketball.png", alt: "basketball", class: "icons")


.main
  %h1 Smart-Coachを選ぶ理由
  %hr
  .image-content
    .left-wrapper
      = image_tag("coach.png", alt: "coach")
      %p スポーツの専門家からマンツーマンの個別指導
    .right-wrapper
      = image_tag("phone.png", alt: "phone")
      %p スマホから自分に最適なコーチが探せる


.header-tab
  %p ジャンル一覧
.lesson
  - @genres.each do |genre|
    .row-content
      = image_tag("bat.png")
      %p#genre #{ genre.name }

.header-tab
  %p 新着レッスン一覧
.lesson
  - @lessons.each do |lesson|
    .row-content
      .thumbnail-content
        = image_tag("#{lesson.thumbnail}", size: "100x100")
      %p#lesson #{ lesson.title }



