- content_for :head do
  %title Smart Coach
  = stylesheet_link_tag :top_application
.main_cover
  %h2
    %span Smart-Coach
    であなただけのコーチを探し、ライバルに差をつけよう。
.top_contents
  %h2 Smart-Coachとは？
  %hr
  %h3 Smart-Coachではあなた専属のコーチをスマホ上で探せます。
  %ul.icons
    %li= image_tag("baseball.png", alt: "baseball")
    %li= image_tag("soccer.png", alt: "soccer")
    %br
    %li= image_tag("tennis.png", alt: "tennis")
    %li= image_tag("basketball.png", alt: "basketball")


.top_contents
  %h2 Smart-Coachを選ぶ理由
  %hr
  %ul.why_box
    %li.why_contents
      = image_tag("coach.png", alt: "coach")
      %p
        スポーツの専門家から
        %br
        マンツーマンの個別指導
    %li.why_contents
      = image_tag("phone.png", alt: "phone")
      %p
        スマホから自分に最適な
        %br
        コーチが探せる


%h2.header-tab ジャンル一覧
.lesson
  - @genres.each do |genre|
    = link_to lessons_genre_path(genre.id) do
      .row-content
        = image_tag("bat.png")
        %p#genre #{ genre.name }

%h2.header-tab 新着レッスン一覧
.lesson
  = render partial: 'common/lesson', collection: @lessons
