%p topページ
- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  = link_to "ログイン", user_session_path
  = link_to "会員登録", new_user_session_path

- @lessons.each do |lesson|
  %p
    = image_tag lesson.thumbnail.thumb.url
    = "タイトル: #{lesson.title}"
    = "内容: #{lesson.description}"
    = "ジャンル: #{lesson.genre.name}"
