.form-wrapper
  .item-container
    = form_for @room, url: { controller: "students/rooms" } do |f|
      = raw sprintf( f.date_select( :start_day, use_month_numbers: true, date_separator: '%s'), '年', '月') + '日から'
      = f.select :month, @month_option
      %span ヶ月間
      = f.hidden_field :lesson_id
      = f.submit "登録する", class: 'app-btn'
