- content_for :head do
  = stylesheet_link_tag :show_application
.show-wrapper
  = image_tag @lesson.thumbnail, class: 'thumbnail-item'
  .item-container
    %span.genre-btn{ style: "border-color: ##{@lesson.genre.color}"}
      = link_to @lesson.genre.name, lessons_genre_path(@lesson.genre_id), style: "color: ##{@lesson.genre.color}"
    %p.main-title= @lesson.title

    = link_to students_room_chat_messages_path(@room) do
      %p.chat-btn チャットを始める

  .lesson-info
    .sub-title
      %p レッスン情報
    %table.table-content
      %tr
        %td.table-title 申し込み期限
        %td= lesson_apply_limit(@lesson.start_day, @lesson.month)
      %tr
        %td.table-title 現在の受講者
        %td= "#{@lesson.student_sum}人"
