.header-tab
  %p 「#{@genre.name}」のレッスン一覧
.lesson
  - @lessons.each do |lesson|
    = link_to lesson_path(lesson.id) do
      .row-content
        = image_tag("#{lesson.thumbnail}", size: "100x100")
        #lesson #{ lesson.title }