- content_for :head do
  = stylesheet_link_tag :form_application
.form-wrapper
  %h2.form-title レッスンの新規作成
  .item-container
    = form_for @lesson, url: { controller: "coaches/lessons" } do |f|
      = f.text_field :title, placeholder: "タイトル", class: 'input-item', required: true
      = f.text_area :description, placeholder: "内容", class: 'input-item', required: true
      .label-item
        = f.label :ジャンル
        = f.select :genre_id, @genres_options
      .image-file
        = f.file_field :thumbnail
      .label-item
        = f.label :レッスンを開講する期間を選択してください, class: 'center'
      = raw sprintf( f.date_select( :start_day, date_separator: '%s'), '年', '月') + '日から'
      = f.select :month, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
      %span ヶ月間

      .label-item
        = f.label :レッスンを開講する時間帯を選択してください, class: 'center'
      - {"日": 0, "月": 1, "火": 2, "水": 3, "木": 4, "金": 5, "土": 6}.each do |(weekday, week_id)|
        %p{id: "week_time_#{week_id}"}
          = f.fields_for :lesson_shifts do |l|
            = weekday
            = l.hidden_field :weekday, value: week_id
            = l.time_field :start_time, required: true
            = "~"
            = l.time_field :finish_time, required: true
            %button{type: "button", class: "week_time_delete", data: {id: week_id}} 削除

      = f.submit "登録する", class: 'form-btn'

:javascript
  $(function() {
    $('.week_time_delete').on('click', function() {
      var week_id = $(this).data('id');
      $("#week_time_" + week_id).remove();
    });
  });