= form_for @lesson, url: { controller: "coaches/lessons" } do |f|
  = f.text_field :title, placeholder: "タイトル"
  = f.text_area :description, placeholder: "内容"
  = f.select :genre_id, @genres
  = f.file_field :thumbnail
  = f.submit "登録する"
