- content_for :head do
  = stylesheet_link_tag :form_application
  = javascript_include_tag :preview
.form-wrapper
  %h2.form-title レッスンの新規作成
  .item-container
    = form_for @lesson, url: { controller: "coaches/lessons" } do |f|
      .label-item
        = f.label :title, "タイトル"
        = f.text_field :title, placeholder: "必須", class: 'input-item input-text', required: true
      .label-item
        = f.label :desc_goal, "何が出来るようになるのか"
        = f.text_area :desc_goal, placeholder: "必須", class: 'input-item input-text-area', required: true
      .label-item
        = f.label :desc_who, "どういう人が対象か"
        = f.text_area :desc_who, placeholder: "必須", class: 'input-item input-text-area', required: true
      .label-item
        = f.label :desc_what, "何をするのか"
        = f.text_area :desc_what, placeholder: "必須", class: 'input-item input-text-area', required: true
      .label-item
        = f.label :desc_other, "その他"
        = f.text_area :desc_other, placeholder: "任意", class: 'input-item input-text-area', required: false

      .label-item
        = f.label :genre_id, "ジャンル"
        = f.select :genre_id, @genres_options
      .image-file.imgInput
        = f.file_field :thumbnail
        = image_tag "", width: "100%", height: "350px", class: "imgView"
      .label-item
        = f.label :レッスンを開講する期間を選択してください, class: 'center'
      = raw sprintf( f.date_select( :start_day, date_separator: '%s'), '年', '月') + '日から'
      = f.select :month, [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
      %span ヶ月間

      .label-item
        = f.label :レッスンを開講する時間帯を選択してください, class: 'center'
      - {"日": 0, "月": 1, "火": 2, "水": 3, "木": 4, "金": 5, "土": 6}.each do |(weekday, week_id)|
        %p{id: "week_time_#{week_id}"}
          = f.fields_for :lesson_shifts do |l|
            = weekday
            = l.hidden_field :weekday, value: week_id
            = l.time_field :start_time, required: true
            = "~"
            = l.time_field :finish_time, required: true
            %button{type: "button", class: "week_time_delete", data: {id: week_id}} 削除

      = f.submit "登録する", class: 'form-btn'

:javascript
  $(function() {
    $('.week_time_delete').on('click', function() {
      var week_id = $(this).data('id');
      $("#week_time_" + week_id).remove();
    });
  });

  / $(function(){
  /   var setFileInput = $('.imgInput'),
  /   setFileImg = $('.imgView');

  /   setFileInput.each(function(){
  /       var selfFile = $(this),
  /       selfInput = $(this).find('input[type=file]'),
  /       prevElm = selfFile.find(setFileImg),
  /       orgPass = prevElm.attr('src');

  /       selfInput.change(function(){
  /           var file = $(this).prop('files')[0],
  /           fileRdr = new FileReader();
  /           setFileImg = $('.imgView');

  /           setFileImg.css('visibility', 'visible');
  /           if (!this.files.length){
  /               prevElm.attr('src', orgPass);
  /               return;
  /           } else {
  /               if (!file.type.match('image.*')){
  /                   prevElm.attr('src', orgPass);
  /                   return;
  /               } else {
  /                   fileRdr.onload = function() {
  /                       prevElm.attr('src', fileRdr.result);
  /                   }
  /                   fileRdr.readAsDataURL(file);
  /               }
  /           }
  /       });
  /   });
  / });

