- content_for :head do
  = stylesheet_link_tag :top_application
  = stylesheet_link_tag :coach_application

.profile.clearfix
  .profile-content
    .profile-avatar
      = image_tag current_user.avatar, size: '60x60'
    %h2.profile-nickname
      = current_user.nickname
    %p.profile-member
      = current_user.belong
    .profile-lesson
      .profile-lesson-info
        %h5
          %span
            = @lessons.count
          lessons
      .profile-lesson-info
        %h5
          %span
            = total_students(@lessons)
          students

.lesson-btn
  = link_to "レッスンの新規作成", new_coaches_lesson_path

%h2.header-tab 担当レッスン一覧
.coach
  = render partial: 'common/coach_lesson', collection: @lessons, as: 'lesson'
