%nav#my-menu
  %ul
    %li= link_to 'トップページ', root_path
    - if user_signed_in?
      - if current_user.is_coach?
        %li= link_to "コーチ用マイページ", coaches_lessons_path
      - if current_user.is_student?
        %li= link_to "マイページ", students_rooms_path
      %li= link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %li= link_to "ログイン", user_session_path
      %li= link_to "新規登録", new_user_registration_path
    - @genres.each_with_index do |genre, i|
      %li{ class: "#{'nav-genre-first' if i == 0}" }= link_to "#{genre.name}のレッスン一覧", lessons_genre_path(genre)
