!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    :application, media: :all
    = javascript_include_tag :application
    %meta{name: "viewport", content: "width=device-width"}

    - if (head = yield(:head)).present?
      = head

  %body
    = render 'layouts/nav'
    #wrap
      = render 'layouts/header'
      .container
        - flash.each do |key, value|
          = content_tag(:div, value, class: "#{flash_class_for(key)} alert")
        = yield
      -# if controller.controller_name == "lessons" && controller.action_name == "show"
        .clearfix
          = link_to new_students_room_path(lesson_id: @lesson.id) do
            %p.apply-btn-fixed 受講する

      - unless controller.controller_name == "chat_messages"
        = render 'layouts/footer'
